
<div class="mt-6">

    <p-button class="lg:hidden mb-2 ml-3" icon="pi pi-bars" [rounded]="true" [text]="true" (onClick)="toogleMenu()" />

    <div class="grid m-0 p-0">

        <nav class="col-12 p-0 px-3 z-2 min-h-screen sticky top-0 lg:relative bg-white lg:col-fixed lg:w-15rem lg:block lg:z-0 sidebar" [hidden]="isMenuHidden" >
            <menu class="p-0 px-3" (click)="toogleMenu()">
                <p><a routerLink="cadastro">Cadastro</a></p>
                <p><a routerLink="auth">Autenticação</a></p>
                <p><a routerLink="criar-anuncio">Criar Anúncio de Vaga</a></p>
                <p><a routerLink="moderacao">Moderação</a></p>
            </menu>

            <menu class="xl:hidden p-3" (click)="toogleMenu()">
                <p><a routerLink="/api" class="no-underline  text-700">API</a></p>
                <p><a href="https://github.com/grupoifsc/estagios-rest" target="_blank" class="no-underline text-700">Github</a></p>
                <p><a routerLink="/politica" class="no-underline text-700">Termo de Uso e Política de Privacidade</a></p>
            </menu>
        </nav>

        <div class="col lg:col-9 xl:col grid grid-nogutter">
            <main class="col-12 lg:border-left-1 border-400 xl:col-10 px-4 pt-5 py-10 xl:px-6">
                <router-outlet />
                <div class="bg-bluegray-100  p-5 mt-8">
                    Visite a <a routerLink="/api" class="" >documentação completa da API</a>, onde você pode interagir com a aplicação e testar os endpoints, formatos de dados e respostas geradas.
                </div>
            </main>
    
            <aside class="hidden xl:block border-left-1 border-400 col-2">
                <nav>
                    <menu class="p-0 pl-4 no-underline text-700">
                        <p><a routerLink="/api" class="no-underline text-700">API</a></p>
                        <p><a href="https://github.com/grupoifsc/estagios-rest" target="_blank" class="no-underline text-700">Github</a></p>
                        <p><a routerLink="/sobre" class="no-underline text-700">Termo de Uso e Política de Privacidade</a></p>        
                    </menu>
                </nav>
            </aside>
        </div>



    </div>

</div>
