
<div class="demo-bg p-5 min-h-screen flex align-items-center">

        <form class="glass border-round-xl md:w-8 max-w-24rem mx-auto p-5 flex flex-column gap-6 justify-content-center" [formGroup]="form" (ngSubmit)="submit()">

            <h1 class="m-0">Bem vindo!</h1>

            <div class="mb-3 flex flex-wrap gap-2 justify-content-center">
                <span>Ainda não tem uma conta?</span>
                <span><a routerLink="../cadastro">Cadastre sua instituição</a></span>
            </div>

            <div class="flex flex-column gap-2">
                <label for="email">Email:</label>
                <input pInputText id="email" formControlName="email" placeholder="Email" [style]="{'background-color':'transparent', 'border-color':'grey'}" />
            </div>

            <div class="flex flex-column gap-2">
                <div class="flex justify-content-between align-content-end">
                    <label for="pwd">Senha:</label>
                    <!-- <p class="m-0">Esqueceu a senha?</p> -->
                </div>
                <p-password [feedback]="false" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%', 'background-color':'transparent', 'border-color':'grey'}" toggleMask="true" id="pwd" formControlName="password" placeholder="Senha" />
            </div>

            <div class="flex justify-content-center">
                <p-button label="Login" [disabled]="!form.valid" type="submit" />
            </div>

        </form>
   
</div>