
<div class="mb-2">
    <a routerLink="../anuncio" class="p-button no-underline"> <i class="pi pi-plus mr-2"></i> Anunciar Vaga</a>
</div>

<p-table
        #dt2
        dataKey="id"
        [rows]="10"
        [rowsPerPageOptions]="[10, 25, 50]"
        [loading]="false"
        [paginator]="true"
        [globalFilterFields]="['title']"
    >
        <ng-template pTemplate="caption">
            <div class="flex">
                <p-iconField iconPosition="left" class="ml-auto">
                    <p-inputIcon>
                        <i class="pi pi-search"></i>
                    </p-inputIcon>
                    <input 
                        pInputText 
                        type="text" 
                        #input
                        (input)="dt2.filterGlobal(input.value, 'contains')" 
                        placeholder="Search keyword" />
                </p-iconField>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width:10%">#</th>
                <th style="width:60%">Titulo</th>
                <th style="width:30%">Criado em</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
            <tr>
                <td>
                    1
                </td>
                <td>Título asddadad asdasdasda asdadasd asdasdasd adasd</td>
                <td>2022/22/22</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">Você ainda não adicionou nenhum anúncio.</td>
            </tr>
        </ng-template>
</p-table>

