
<div class="mb-6">
    <h1 class="text-4xl">Vagas Recebidas</h1>
    <span class="text-color-secondary text-lg" >
        Veja todas as vagas que sua IE recebe de outras instituições e o seu status de moderação    </span>
    <!-- Aqui você pode ver todas as vagas que estarão disponíveis de forma segura para sua comunidade acadêmica.    -->
</div>


<p-table 
    dataKey="id"
    *ngIf="(vagas$ | async) as vagas; else skeleton"
    #dt1
    [rows]="rows"
    [rowsPerPageOptions]="[10, 25, 50]"
    [paginator]="true"
    [showCurrentPageReport]="true"
    [totalRecords]="totalVagas"
    [first]="first"
    [lazy]="true"
    [pageLinks]="5"
    (onLazyLoad)="onLazyLoad($event)"
    [lazyLoadOnInit]="false"
    [globalFilterFields]="['titulo', 'criado_por.nome']"
    [value]="vagas.data?.content ?? [1, 2, 3]"
>
    <ng-template pTemplate="caption">
        <div class="flex gap-2">
            <p-iconField iconPosition="right" class="ml-auto" >
                <input 
                    pInputText 
                    type="text" 
                    #input
                    placeholder="Busca" 
                    />
                <p-inputIcon class="cursor-pointer">
                    <i class="pi pi-search"  (click)="dt1.filterGlobal(input.value, 'contains')" ></i>
                </p-inputIcon>
            </p-iconField>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Título</th>
            <th>Criado por</th>
            <th>Status</th>
            <th>Moderação</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-vaga>
        <tr>
            <td> {{ vaga.titulo }}</td>
            <td> {{ vaga.criado_por?.nome }} </td>
            <td>
                <p-tag #tag [rounded]="true" [value]="vaga.moderacao?.status ?? 'indefinido'" [severity]="getSeverity(tag.value ?? '')" />
            </td>
            <td>
                <p-button icon="pi pi-eye" [rounded]="true" [text]="true" title="Ver" (onClick)="see(vaga.id, vaga)" />
                <p-button icon="pi pi-thumbs-up" [rounded]="true" [text]="true" title="Aceitar" [disabled]="vaga.moderacao?.status == 'aprovado'" (onClick)="confirmAction('aprovar', vaga.id)" />
                <p-button icon="pi pi-thumbs-down" [rounded]="true" [text]="true" title="Rejeitar" [disabled]="vaga.moderacao?.status == 'rejeitado'" (onClick)="confirmAction('rejeitar', vaga.id)" /> 
            </td>
        </tr>
    </ng-template>
    <div>
        {{ setTotalRecords(vagas.data?.totalElements) }}
    </div>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="5">Nenhuma vaga.</td>
        </tr>
    </ng-template>
</p-table>
<div><p>Total de vagas: {{totalVagas}}</p></div>

<ng-template #skeleton>
    <p-table 
    dataKey="id"
    [rows]="rows"
    [rowsPerPageOptions]="[10, 25, 50]"
    [paginator]="true"
    [showCurrentPageReport]="true"
    [first]="first"
    [lazy]="true"
    [pageLinks]="5"
    (onPage)="onPage($event)"
    [globalFilterFields]="['titulo', 'criado_por.nome']"
    [value]="[1,2,3]"
>
    <ng-template pTemplate="header">
        <tr>
            <th>Título</th>
            <th>Criado por</th>
            <th>Status</th>
            <th>Moderação</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-vaga>
        <tr>
            <td><p-skeleton /></td>
            <td><p-skeleton /></td>
            <td><p-skeleton /></td>
            <td><p-skeleton /></td>
        </tr>
    </ng-template>
</p-table>
</ng-template>

<p-confirmDialog #d styleClass="delete-dialog" #cd styleClass="w-11 md:w-4" closable="false">
    <ng-template pTemplate="footer">
        <div class="flex flex-column gap-2">
            <button type="button" class="p-button-primary" pButton label="Confirmar" (click)="cd.accept()"></button>
            <button type="button" class="p-button-secondary" pButton label="Cancelar" (click)="cd.reject()"></button>
        </div>
    </ng-template>
</p-confirmDialog>