
<p>{{ view }}</p>
<p>{{ vagas$ ? 'true' : 'false' }}</p>

<p-table
    dataKey="id"
    *ngIf="view"
    #dt2
    [rows]="10"
    [rowsPerPageOptions]="[10, 25, 50]"
    [loading]="false"
    [paginator]="true"
    [globalFilterFields]="['titulo', 'criado_por.nome']"
    [value]="(vagas$ | async)?.data?.content ?? []"
>
    <ng-template pTemplate="caption">
        <div class="flex">
            <p-iconField iconPosition="left" class="ml-auto">
                <p-inputIcon>
                    <i class="pi pi-search"></i>
                </p-inputIcon>
                <input 
                    pInputText 
                    type="text" 
                    #input
                    (input)="dt2.filterGlobal(input.value, 'contains')" 
                    placeholder="Busca" />
            </p-iconField>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Título</th>
            <th>Criado por</th>
            <th>Status</th>
            <th>Data de criação</th>
            <th>Moderação</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-vaga>
        <tr>
            <td>{{vaga.titulo}}</td>
            <td>{{vaga.criado_por.nome}}</td>
            @if(status == 'aprovada') {
                <td><p-tag rounded="true" [value]="status" severity="success"/></td>
            } @else if (status == 'rejeitada') {
                <td><p-tag rounded="true" [value]="status" severity="danger"/></td>
            } @else {
                <td><p-tag rounded="true" [value]="status" severity="secondary"/></td>
            }
            <td>{{vaga.criado_em | date : 'short'}}</td>
            <td>
                <div class="flex gap-2">
                    <p-button *ngIf="view != 'accepted'" icon="pi pi-thumbs-up" [rounded]="true" [text]="true" severity="success" title="Aceitar" (onClick)="accept(vaga.id)" />
                    <p-button *ngIf="view != 'rejected'" icon="pi pi-thumbs-down" [rounded]="true" [text]="true" severity="danger" title="Rejeitar" (onClick)="reject(vaga.id)" />
                </div>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="5">Você ainda não adicionou nenhum anúncio.</td>
        </tr>
    </ng-template>
</p-table>

<p-confirmDialog styleClass="delete-dialog" #cd >
    <ng-template pTemplate="header" styleClass="">
        <h3>Deletar esta vaga?</h3>
        <button pButton type="button" title="Cancel" class="p-button-text" icon="pi pi-times" (click)="cd.reject()"></button>
    </ng-template>
    <ng-template pTemplate="footer">
        <div class="flex flex-column gap-2">
            <button type="button" class="p-button-primary" pButton label="Cancelar" (click)="cd.reject()"></button>
            <button type="button" class="p-button-danger p-button-text font-bold" pButton label="Sim, quero deletar esta vaga" (click)="cd.accept()"></button>
        </div>
    </ng-template>
</p-confirmDialog>