
<div class="grid grid-nogutter w-11 mx-auto main-screen align-content-end">
    <div class="col-6 flex flex-wrap flex-column gap-4 justify-content-top my-5 ">
        <span class="text-500 font-bold text-lg uppercase">Bem vindo!</span>    
        <span class="text-3xl font-bold text-bluegray-800 ">Gerencie o compartilhamento de suas vagas de estágio</span>
        <span class="text-500 text-xl">Explore as funcionalidades de publicação e moderação de anúncios</span>
    </div>    
    <div class="col-6 flex align-items-end">
        <img src="img/mochila.png" class="max-w-full mirror" alt="">
    </div>
</div>
