
    <div class="ml-5 p-5">
        <h1>Bem vindo!</h1>
    
        <div class="flex flex-column gap-3 w-11 md:w-7 py-4">
            <p>Com esta aplicação, você poderá gerenciar suas vagas de estágio diretamente na nossa plataforma, 
                sem precisar de sistemas adicionais ou integrações complicadas. </p>
                
            <p>Essa ferramenta permite que você crie, edite e acompanhe seus anúncios de forma direta e intuitiva, 
                garantindo que você possa aproveitar todos os benefícios do nosso serviço web com facilidade.</p>
            
            <p>É importante observar que essa aplicação de demonstração não é acessível pelos estudantes, 
                sendo destinada exclusivamente à gestão e administração por parte da sua instituição.</p>
        </div>
    </div>    


