

<div class="mt-6 w-11 md:w-8 lg:w-7 mx-auto ">
    <h1 class="text-bluegray-800">Comece aqui</h1>

    <div class="flex text-700 gap-3 justify-content-center no-underline">

        <div class="p-3 w-full md:w-4 border-round-md border-100 border-1 shadow-2">
            <div class="">
                Entenda os principais recursos disponíveis em nosso serviço
            </div>
            <div>
                <p><i class="pi pi-angle-right" ></i> <a routerLink="/recursos">Recursos</a></p>
            </div>
        </div>
        <div class="p-3 w-full md:w-4 border-round-md border-100 border-1 shadow-2">
            <div class="">
                Acesse a seção Para Desenvolvedores para ler a documentação da API e tutoriais que facilitam o processo de integração com seu sistema 
            </div>
            <div>
                <p><i class="pi pi-angle-right" ></i> <a routerLink="/tutoriais">Documentação</a></p>
            </div>
    </div>
    <div class="p-3 w-full md:w-4 border-round-md border-100 border-1 shadow-2">
        <div class="">
                Experimente as funcionalidades do sistema com nossa aplicação web de demonstração
            </div>
            <div>
                <p><i class="pi pi-angle-right" ></i> <a routerLink="/demo" target="_blank">Demo</a></p>
            </div>
        </div>
    </div>
</div>
