
<div class="w-full lg:w-8 mx-auto mt-5">

    <p-tabView [scrollable]="true">

        <p-tabPanel header="Sobre">
            <div class="flex flex-column align-items-center ">
                <div class="w-full lg:w-6">
                    <p>Contexto de criação do projeto</p>
                    <p>Colaboradores: Pessoas que colaboraram (links)</p>
                </div>
            </div>
        </p-tabPanel>
        
        <p-tabPanel header="Apoie">
            <div class="flex flex-column align-items-center ">
                <div class="w-full lg:w-6 ">
                    <p>Falar que o projeto está buscando um "hospedeiro"</p>
                </div>
            </div>
        </p-tabPanel>
        
        <p-tabPanel header="Termo de Uso">
            <div class="flex flex-column align-items-center ">
                <div class="w-full lg:w-6 ">
                    <p>Termo de Uso (gerar no ChatGPT)</p>

                    <p>Não publicar anúncios que [etc]</p>
                    <p>Divulgar apenas no escopo da instituição - 
                        nos sites institucionais e sistemas internos</p>
                    <p>Informações verdadeiras</p>
                    <p>Rate Limit</p>                </div>
            </div>

        </p-tabPanel>
        
        <p-tabPanel header="Licença">
            <div class="flex flex-column align-items-center ">
                <div class="w-full lg:w-6 ">
                    <p>GNU etc</p>
                    <p>Resumo</p>
                    <p>Link</p>
                </div>
            </div>

        </p-tabPanel>
        
    </p-tabView>

</div>

