
<div class="mt-6 w-11 md:w-8 lg:w-7 mx-auto texto-formal">

    <h1 class="text-bluegray-800">Apoie o projeto</h1>

    <p>Estamos em busca de hospedagem para este serviço web. Ao hospedar o projeto, você permitirá que empresas e instituições de ensino da sua região tenham acesso a uma plataforma que pode colaborar na melhoria do processo de divulgação de vagas de estágio para estudantes.</p>

    <p>O projeto é desenvolvido com a filosofia de código aberto, o que significa que você tem liberdade para utilizar, contribuir e aprimorar o serviço. Também estamos disponíveis para fornecer a assistência necessária para hospedagem e integração inicial.</p>

    <h2 class="text-bluegray-800">Desenvolvimento</h2>
    <p>Este projeto foi desenvolvido na disciplina Projeto Integrador - 2024.1, como requisito para conclusão do Curso Técnico em Desenvolvimento de Sistemas - Instituto Federal de Santa Catarina - Câmpus Florianópolis</p>

    <p>Equipe:</p>
    <ul>
        <li>Daniel Gomes</li>
        <li>Juliana Hachmann</li>
        <li>Luiza Lorenzi</li>
    </ul>
    
</div>

