:host ::ng-deep .p-tabview-nav {
    justify-content: center;
    gap: 3rem;
}


.texto-formal ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-position: inside;
    margin-bottom: 1rem;
}

.texto-formal ul li a {
    text-indent: 0rem;
}