
<div class="w-full lg:w-8 mx-auto mt-5">

    <p-tabView [scrollable]="true">

        <p-tabPanel header="Sobre">
            <div class="flex flex-column align-items-center ">
                <div class="w-full lg:w-6">
                    <p>Este projeto foi desenvolvido no contexto da disciplina Projeto Integrador - 2024.1, como requisito para conclusão do Curso Técnico em Desenvolvimento de Sistemas (CTDS) - Instituto Federal de Santa Catarina (IFSC) - Câmpus Florianópolis</p>
                    <p>Equipe:</p>
                    <ul>
                        <li>
                            Daniel Gomes - 
                        </li>
                        <li>Juliana Hachmann - </li>
                        <li>Luísa Lorenzzi - </li>
                    </ul>
                </div>
            </div>
        </p-tabPanel>
        
        <p-tabPanel header="Apoie">
            <div class="flex flex-column align-items-center ">
                <div class="w-full lg:w-6 ">
                    <p>Falar que o projeto está buscando um "hospedeiro"</p>
                </div>
            </div>
        </p-tabPanel>
        
        <p-tabPanel header="Termo de Uso">
            <div class="flex flex-column align-items-center ">
                <div class="w-full lg:w-6 ">
                    <p>Termo de Uso (gerar no ChatGPT)</p>

                    <p>Não publicar anúncios que [etc]</p>
                    <p>Divulgar apenas no escopo da instituição - 
                        nos sites institucionais e sistemas internos</p>
                    <p>Informações verdadeiras</p>
                    <p>Rate Limit</p>                </div>
            </div>

        </p-tabPanel>
        
        <p-tabPanel header="Licença">
            <div class="flex flex-column align-items-center ">
                <div class="w-full lg:w-6 ">
                    <p>Este projeto está protegido pela licença Creative Commons: </p>
                    <p>Atribuição-NãoComercial-CompartilhaIgual 4.0 Internacional</p>
<p>CC BY-NC-SA 4.0</p>
<p>VER TEXTO COMPLETO: https://creativecommons.org/licenses/by-nc-sa/4.0/</p>

<p>RESUMO</p>
<p>Você é livre para:</p>

    <ul>
        <li>
            Compartilhar — copiar e redistribuir o material em qualquer meio ou formato
        </li>
        <li>
            Adaptar — remixar, transformar e criar a partir do material
        </li>
    </ul>

<p>O licenciante não pode revogar essas liberdades desde que você siga os termos da licença.</p>

<p>Sob os seguintes termos:</p>

    <ul>
        <li>Atribuição — Você deve dar o crédito apropriado, fornecer um link para a licença e indicar se mudanças foram feitas. Você pode fazê-lo de qualquer maneira razoável, mas não de forma que sugira que o licenciante endossa você ou seu uso.</li>
        <li>NãoComercial — Você não pode usar o material para fins comerciais.</li>
        <li>CompartilhaIgual — Se você remixar, transformar ou criar a partir do material, deve distribuir suas contribuições sob a mesma licença do original.</li>
        <li>Sem restrições adicionais — Você não pode aplicar termos legais ou medidas tecnológicas que restrinjam legalmente outros de fazerem qualquer coisa que a licença permita.</li>
    </ul>

                </div>
            </div>

        </p-tabPanel>
        
    </p-tabView>

</div>

