/* .cool-background {
    background: rgb(64,64,64);
    background: linear-gradient(0deg, rgba(64,64,64,1) 0%, rgba(255,255,255,1) 71%);
} */

:host ::ng-deep .p-carousel-prev-icon, .p-carousel-next-icon {
    font-size: 200px;
}


.summary-box {
    background-color: rgb(194, 255, 240, 0.3);
    color: #404040;
}


.tag-bg {
    height: 4rem;
}

.tag {
    z-index: 20;
    transform: rotate(15deg);
    transform: translate(0, 50%);
    height: 4rem;
    text-align: center;
    align-content: center;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.08), 0px 3px 4px rgba(0, 0, 0, 0.1), 0px 1px 4px -1px rgba(0, 0, 0, 0.1);
    position: absolute;
    /* background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgb(233, 233, 233) 50%, rgba(255,255,255,1) 100%); */
}