
<div class="w-full mx-auto py-5 flex flex-column gap-0 justify-content-center ">

    <div class="align-self-center flex text-xl flex-column my-5 gap-5 w-10 md:w-6 align-items-center">
        <div class="p-5">
            (o que é) Um serviço para conectar ies e empresas para divulgar vagas a comunidade estudantil
        </div>
        <div class="p-5">
            <p>(público-alvo) Escolas, redes e institutos de ensino, universidades, empresas de qualquer porte</p>
        </div>    
    </div>

    <div class="flex flex-column">
        <div class="tag w-9 md:w-5 main-green-bg main-blue-font text-2xl font-bold align-self-center">
            <p class="m-0">Features</p>
        </div>
        <div class="tag-bg">
        </div>
        <div class="tag-bg main-blue-bg">
        </div>
    </div>

    <div class="main-blue-bg flex justify-content-center ">

        <div class="w-10 md:w-7">
            <p-carousel class="hidden md:block"
                [value]="features" 
                [numVisible]="1"  
                [circular]="true" 
                autoplayInterval="5000"
                >    

                <ng-template let-item pTemplate="item">
                    <div class="h-25rem flex flex-column align-items-center" >
                        <div class="w-9 h-full flex flex-column justify-content-center ">
                            <div class="text-center text-0">
                                <h1 class="m-0">{{item.title}}</h1>
                            </div>
                            
                            <div class="mt-5 flex flex-column gap-3 text-50">
                                <div *ngFor="let detail of item.items">
                                    {{ detail }}
                                </div>
                            </div>    
                        </div>
                    </div>
                </ng-template>
            </p-carousel>


            <div class="block md:hidden">
                <p-accordion [activeIndex]="1">
                    <p-accordionTab [header]="item.title" *ngFor="let item of features">
                        <p class="m-0">
                            {{ item.items }}
                        </p>
                    </p-accordionTab>
                </p-accordion>    
            </div>
        </div>
    </div>

    <div class="mt-8 mb-3 align-self-center">
        <a routerLink="/tutoriais" [style]="{'background-color': '#383859'}" class="p-button no-underline ">COMECE AQUI</a>
    </div>

</div>

