@import "prismjs/themes/prism.min.css";


:host ::ng-deep body {
    line-height: 1.5;
    color: #111010;
    font-family: Arial, Helvetica, sans-serif;
}


:host ::ng-deep blockquote {
    overflow: auto;
    background-color: rgba(17, 16, 16, 0.1);
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

:host ::ng-deep blockquote p {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

:host ::ng-deep h1, :host ::ng-deep h2, :host ::ng-deep h3, :host ::ng-deep h4 {
    color: #383859;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

:host ::ng-deep p, :host ::ng-deep ul {
    margin-bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

:host ::ng-deep li {
    margin-bottom: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
}


:host ::ng-deep pre {

    letter-spacing: normal;
    padding: 15px;
    tab-size: 2;
    line-height: normal;

    &::-webkit-scrollbar {
        height: 8px;
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
            background: rgba(255,255,255,0.4);
            border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: rgba(255,255,255,0.7);
    }

    &::-webkit-scrollbar-track {
        background: rgba(255,255,255,0.2);
        border-radius: 4px;
    }
}

:host ::ng-deep table {
    width: 100%;
    border-spacing: 0;
    border-width: 0.2px;
    border-style: solid;
    border-color: rgba(0,0,0,.12);
}

:host ::ng-deep th {
    color: rgba(0,0,0,.54);
    font-weight: 700;
    padding: 8px;
    border-width: 0.2px;
    border-style: solid;
    border-color: rgba(0,0,0,.12);
}

:host ::ng-deep th[align=""],
th:not([align]) {
    text-align: left;
}

:host ::ng-deep td {
    color: rgba(0,0,0,.70);
    font-size: medium;
    padding: 10px;
    border-width: 0.2px;
    border-style: solid;
    border-color: rgba(0,0,0,.12);

}


:host ::ng-deep * {
box-sizing: border-box;
}
