<p>teste works!</p>

<div class="mb-3">
    <p-button 
        type="button" 
        icon="pi pi-chevron-left" 
        (onClick)="prev()" 
        [disabled]="isFirstPage()" 
        styleClass="p-button-text" />
    <p-button 
        type="button"
        icon="pi pi-refresh" 
        (onClick)="reset()" 
        styleClass="p-button-text" />
    <p-button 
        type="button" 
        icon="pi pi-chevron-right" 
        (onClick)="next()" 
        [disabled]="isLastPage()" 
        styleClass="p-button-text" />
</div>
<div class="card">
    <p-table
        [value]="customers"
        [paginator]="true"
        [rows]="5"
        [first]="first"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        (onPage)="pageChange($event)"
        [rowsPerPageOptions]="[10, 25, 50]"
    >
        <ng-template pTemplate="header">
            <tr>
                <th style="width:25%">Name</th>
                <th style="width:25%">Country</th>
                <th style="width:25%">Company</th>
                <th style="width:25%">Representative</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
            <tr>
                <td>{{ customer.name }}</td>
                <td>{{ customer.country.name }}</td>
                <td>{{ customer.company }}</td>
                <td>{{ customer.representative.name }}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text" />
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text" />
        </ng-template>
    </p-table>
</div>
