<div class="texto-formal">
    <header>
        <h1>Política de Privacidade</h1>
    </header>

    <section>
        <h2>1. Coleta e Uso de Dados Pessoais</h2>
        <p>Ao criar sua conta, você concorda em fornecer informações pessoais, como nome, descrição, endereço e contato, que serão visíveis aos demais usuários deste serviço. Essas informações são necessárias para facilitar a interação e a comunicação dentro da plataforma.</p>
        <p>Informações confidenciais, como CPF e CNPJ, não serão publicadas e permanecerão restritas para fins administrativos internos, garantindo a proteção e privacidade desses dados.</p>
    </section>

    <section>
        <h2>2. Publicação de Vagas</h2>
        <p>Ao publicar um anúncio de vaga através deste serviço, você concorda que as informações fornecidas serão divulgadas exclusivamente para as instituições de ensino destinatárias. O serviço se compromete a compartilhar essas informações apenas com as instituições designadas.</p>
        <p>Uma vez em posse das informações, caberá às instituições de ensino a responsabilidade de divulgar o conteúdo para suas respectivas comunidades acadêmicas, utilizando os meios que julgarem mais apropriados. Devido à natureza dessa divulgação, não podemos garantir que pessoas fora dessas instituições não tenham acesso às informações.</p>
    </section>

    <section>
        <h2>3. Exclusão de Anúncios</h2>
        <p>Você tem o direito de excluir um anúncio de vaga a qualquer momento. Após a exclusão, os dados associados ao anúncio não serão mais utilizados pelo serviço. Contudo, por medidas de segurança e auditoria, esses dados não serão completamente removidos de nossos sistemas, podendo ser acessados apenas em contextos de auditoria interna ou mediante requisição judicial.</p>
    </section>

    <section>
        <h2>4. Finalidade e Limitações do Uso de Dados</h2>
        <p>Os dados fornecidos serão utilizados exclusivamente para a operação e manutenção deste serviço. Não serão vendidos, compartilhados ou utilizados para fins comerciais, promocionais ou de marketing.</p>
    </section>

    <section>
        <h2>5. Exclusão de Conta e Dados</h2>
        <p>Você tem o direito de excluir sua conta a qualquer momento. Após a exclusão da conta, os dados associados não serão mais utilizados pelo serviço web. Contudo, por medidas de segurança e auditoria, esses dados não serão completamente removidos de nossos sistemas. Eles só poderão ser acessados em contextos de auditoria interna ou mediante requisição judicial.</p>
    </section>
    
    <footer>
        &copy; 2024 Política de Privacidade
    </footer>    
</div>